<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>All events</title>
</head>
<body>
    <div class="eventsList">
        <table class="eventTable">
            <tr>
                <th>Event Name</th>
                <th>Sport type</th>
                <th>Team 1</th>
                <th>Team 2</th>
                <th>Detail</th>
            </tr>
            <tbody>
            <tr th:each="event:${events}">
                <td th:text="${event.eventName}"></td>
                <td th:text="${event.sportType}"></td>
                <td th:text="${event.firstTeamName}"></td>
                <td th:text="${event.secondTeamName}"></td>
                <td><a th:href="@{/events(eventId = ${event.id})}">Detail</a></td>
            </tr>
        </table>
    </div>

</body>
</html>